<!DOCTYPE html>

<html>
	<head>
		<title>My todolist</title>
		<style>
			a {text-decoration: none; color: black;}
		</style>
	</head>

	<body>
		<a class="click-element" href="/logout">Logout</a>
		<a class="click-element" href="/chat">Chat</a>
		<h1>My todolist</h1>
		<ul>
		<% todolist.forEach(function(todo, index) { %>
			<li><a class="click-element row-<%= todo.id %>" onclick="deleteRow(<%= todo.id %>);">✘</a> <%= todo.info %></li>
		<% }); %>
		</ul>

		<form id="myForm" action="/todo/add" method="post">
			<p>
				<label for="newtodo">What should I do?</label>
				<input type="text" name="newtodo" id="newtodo" autofocus />
				<input type="submit" value="add" />
			</p>
		</form>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/manage.js"></script>
	</body>
	<link rel="stylesheet" type="text/css" href="css/manage.css" />
</html>